@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_icons';
@import 'components/_listings';

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-width: 320px;
}

.row {
	position: relative;
	padding: 0 10px;
}

h1, h2, h3, h4, h5 {
	font-family: $headline;
	position: relative;
}

p, span {
	font-family: $copy;
	font-weight: 400;
	font-size: 16px;
	color: $gray;
}

a {
	font-family: $copy;
	font-size: 16px;
	color: $gray;
	transition: all 0.2s linear;

	&:hover {
		color: $green;
	}
}

.bold {
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.page-title {
	max-width: 15em;
	display: block;
	margin: 1em auto;
}

.has-border {
	position: relative;
	padding-bottom: 1em;
	&:after {
		content: "";
		display: block;
		max-width: 12em;
		width: 12em;
		height: 1px;;
		background: $lightgray;
		position: relative;
		bottom: -1em;
		margin: 0 auto
	}
}