.main-nav {
	position: absolute;
	right: 10px;
	bottom: 0;
	display: none;

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		float: left;
		line-height: 1em;
		margin-left: 20px;

		&.current-menu-item a {
			font-weight: 600;
			color: $green;
		}
	}
	a {
		color: $white;

		&:hover {
			color: $green;
		}	
	}
}

.left-off-canvas-menu {
	padding-top: 1em;
	ul {
		list-style: none;
	}

	li {
		&.current-menu-item a {
			font-weight: 600;
			color: $green;
		}
	}

	a {
		color: $white;
		font-weight: 400;

		&:hover {
			color: $green;
		}	
	}
}

@media only screen and (min-width: 64.063em) {
	.menu-icon,
	.left-off-canvas-menu {
		display: none;
	}

	.main-nav {
		display: block;
	}
}